<div class="imageholder">
  <img src="<%= @movie.poster %>">
</div><!--////////close imageholder /////////////-->

<div id='title'>
  <h2>
    <%= @movie.title %>
  </h2>
</div><!--////////close title /////////////-->

<div class="info">
  <p><em><%= @movie.year %><br><br>
    <%= @movie.actors %><br><br>
    <%= @movie.poster %></em></p>

</div><!--////////////////// close info /////////////-->



</div><!--////////close searchinfo /////////////-->
