
  <ul>
    <li><%= image_tag(@work.image, :class => 'thumb') %></li>
    <li><%= link_to(work.artist.name, @work.artist) if @work.artist %></li>
    <li><%= @work.title %></li>
    <li><%= @work.year %></li>
    <li><%= @work.medium %></li>
    <li><%= @work.style %></li>
  </ul>
