<div class="imageholder">
  <img src="<%= @movie['Poster'] %>">
  <div id='title'>
  <h2>
    <%= @movie['Title'] %>
  </h2>
</div><!--////////close title /////////////-->

<div id="line2"><p></p></div><!--///////////////////////////////////////////////close line//////////////-->

<div id="info">
  <p><em><strong><%= @movie['Year'] %></strong><br><%= @movie['Actors'] %><br><br><%= @movie['Plot'] %></em></p>

</div><!--////////////////// close info /////////////-->
</div><!--////////close imageholder /////////////-->



