<div class="imageholder">
  <img src="<%= @movie['Poster'] %>">
</div><!--////////close imageholder /////////////-->

<div id='title'>
  <h2>
    <%= @movie['Title'] %>
  </h2>
</div><!--////////close title /////////////-->

<div class="info">
  <p><em><%= @movie['Year'] %><%= @movie['Actors'] %><%= @movie['Plot'] %></em></p>

</div><!--////////////////// close info /////////////-->



</div><!--////////close searchinfo /////////////-->
