<div id='title'>
<p>
  <%= @title %>
</p>
</div><!--////////close title /////////////-->
<p>
<em><%= @movie['Year'] %><%= @movie['Actors'] %><%= @movie['Plot'] %></em>
<div><img src="<%= @movie['Poster'] %>"></div>
</p>